:root {
  --clr-primary: #4477809f;
  --clr-lighter: #e4aa3e6b;
  --clr-darker: #181306e1;
}

body {
  margin: 0;
  font-family: "Barlow", serif;
  font-weight: 400;
  font-size: 1.4rem;
  background-color: var(--clr-primary);
  color: var(--clr-darker);

  display: grid;
  grid:
    "header header header header" auto
    ". users tasks ." auto
    "about about . ." auto /
    1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
}

.title {
  grid-area: header;
  text-align: left;
  font-family: "Barlow", serif;
  font-size: calc(7vw + 2rem);
  font-weight: 800;
  color: rgba(0, 0, 0, 0.1);
  letter-spacing: 3px;
  margin: -0.35em 0 0.5em;
}

form {
  display: flex;
}

.new.task,
.new.list {
}

.active-user {
  font-weight: 800;
}

.user-list-title {
  opacity: 0.8;
  display: inline;
}

.active-list {
  font-size: x-large;
}

.todo-body {
  padding: var(--spacer);
  position: relative;
}

.custom-checkbox {
  --size: 0.85em;

  display: inline-block;
  width: var(--size);
  height: var(--size);
  margin-right: var(--size);
  cursor: pointer;
  border: 2px solid currentColor;
  border-radius: 25%;
  transform: scale(1);
  transition: transform 100ms ease-in-out;
}
/* we used the type checkbox:focus + the custom-checkbox child of 
parent label to be able to tab through each checkbox.
*/

.delete {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -35px;
  color: #e3e3e3d5;
}

.about-me {
  display: grid;
}

.footer {
  width: 100%;
  height: 25px;
  bottom: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e3e3e34f;
  background-color: var(--clr-darker);
}

.about {
  bottom: 0;
  margin-bottom: 2rem;
  position: fixed;
  opacity: 0.2;
}
